* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.f-hed {
  font-size: 17px;
}

.menu {
  margin-left: 15px;
}

.silider img {
  height: 500px;
}

.bg{
background-color: rgb(215, 240, 232);
height: 1550px;
}
.about {
  height: auto;
  width: 60%;
  text-align: justify;
  margin-left: 350px;
  font-size: 18px;
  position: relative;
  top: 15px;
  h1 {
    text-align: center;
  }
}

.daikin {
  height: auto;
  width: 85%;
  text-align: justify;
  margin-left: 140px;
  margin-top: 50px;
  font-size: 18px;
}

.now {
  text-decoration: none;
  color: red;
}

.now a:hover {
  color: blue;
}

.Importance {
  height: auto;
  width: 85%;
  text-align: justify;
  margin-left: 140px;
  margin-top: 50px;
  font-size: 18px;
}


footer{
    height: 380px;
    background: #111B21;;
    color: #fff;
    display: flex;
}


.row{
  height: 240px;
  width: 100%;
  /* background-color: #25d366; */
}

.Add{
    height: 200px;
    width: 18%;
    margin-left: 60px;
    position: relative;
    top: 25px;
    /* background-color: aqua; */
}

.Add-list{
    list-style: none;
    font-weight: 400;
    line-height: 35px;

}

footer li i{
    margin-right: 12px;
    color: aliceblue;
}


.opne-h{
    height: 200px;
    width: 20%;
    text-align: center;
    /* background-color: rgb(237, 221, 201); */
    margin-left: -50px;
    margin-top: 25px;
}

.opne-list{
    list-style: none;
    font-weight: 400;
    line-height: 30px;
}



.com{
    height: 200px;
    width: 18%;
    margin-top: 25px;
    /* background: #db6565; */
}

.company{
    list-style: none;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    margin-left: -80px;
    a{
      text-decoration: none;
      color: #fff;
      
    }
}

.e-box{
    height: 50px;
    width: 40%;
    display: block;
    margin-top: 90px;
    /* background-color: aquamarine; */
    
}
.email{
    height: 50px;
    width: 80%;
    border-radius: 7px;
    outline: none;
    padding-left: 20px;
    border: white;
    font-size: 18px;
    box-shadow: 0px 2px 5px 0px #fff ;
}

.email:hover{
    border: lawngreen 2px solid;
}

.button{
    height: 50px;
    width: 15%;
    border: white;
    outline: none;
    border: 2px solid white;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0px 2px 5px 0px #fff ;
    border-radius: 7px;

}

.button:hover{
     border: lawngreen 2px solid;
}

.footer_2 {
    height: 100px;
    width: 90%;
    margin-left: 80px;
    margin-top: 15px;
    border-top: 1px solid #33463F;
    /* justify-content: center; */
    /* background: #699d7c; */
}


.f-row{
  height: auto;
  width: 100%;
  overflow: hidden;
}

.S1{
height: 50px;
width: 25%;
display: flex;
/* background-color: #0ab649; */
p{
  margin-top: 25px;
}
}


.icon{
  padding: 15px;
  margin-left: 5px;
  border: 2px solid wheat;
  border-radius: 50px;
  position: relative;
  left: 1200px;
  bottom: 15px;
  z-index: 2;
i{
  text-decoration: none;
  color: #fff;
}
}


 .icon::after {
    background-color: #428bf9;
    border-radius: 50%;
    color: #fff;
    content: "";
    height: 52px;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: scale(1) translateY(67px);
    transition: transform 1s cubic-bezier(.66, 0, .34, 1);
    width: 50px;
    z-index: -1;
}

.icon:hover::after{
  transform-origin: right;
  transform: scaleY(1);
  scale: 1.05;
}




@media (max-width: 895px) {
  .menu:hover {
    text-align: center;
  }
  .silider img {
    height: auto;
  }

  .bg{
  background-color: rgb(215, 240, 232);
  height: auto;
}
  .about {
    margin-left: 50px;
    width: 85%;
  }

  .daikin {
    margin-left: 50px;
  }

  .Importance{
       margin-left: 50px;
  }

  footer{
    flex-direction: column;
    margin-top: -10px;
    height: auto;
  }


  .row{
  height: auto;
  width: 100%;
  flex-direction: column;
  /* background-color: #25d366; */
}

.Add{
    height: auto;
    width: 50%;
    margin-left: 25px;
    position: relative;
    top: 0px;
    /* background-color: aqua; */

}


.opne-h{
    height: auto;
    width: 50%;
    text-align: start;
    margin-left: 25px;
    margin-top: 0px;
    /* background-color: rgb(237, 221, 201); */
}

.com{
    height: auto;
    width: 50%;
    margin-left: 25px;
    margin-top: 0px;
    /* background: #db6565; */
}

.company{
    text-align: start;
    margin-left: -5px;
}


.e-box{
    height: auto;
    width: 100%;
    display: block;
    margin-top: 0px;
    /* background-color: aquamarine; */
    
}
.email{
    height: 40px;
    margin-left: 20px;
}

.button{
    height: 40px;
}


.footer_2 {
    height: 100px;
    width: 100%;
    margin-left: 0px;
    margin-top: 15px;
    border-top: 1px solid #33463F;
    /* justify-content: center; */
    /* background: #699d7c; */
}


.f-row{
  height: 100px;
  width: 100%;
  /* background-color: #db6565; */
}

.S1{
height: 40px;
width: 100%;
/* background-color: #b68b0a; */
p{
  margin-top: 10px;
  margin-left: 100px;
  font-size: 15px;
}
}


.icon{
  position: relative;
  left: 130px;
  bottom: -20px;
}


}
